# Printing Hello World

## Printing Hello World

#### Printing Hello World

### Printing Hello World

##### Printing Hello World

###### Printing Hello World

######## Printing Hello World

In [4]:
print("Hello World")

Hello World

In [5]:
PRINT("Hello World")

NameError: name 'PRINT' is not defined

In [6]:
print(Hello World)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4293340409.py, line 1)

In [7]:
print('Hello World')

Hello World

In [8]:
print (10)

10

In [10]:
###print your name
print("Murari Sen")

Murari Sen

In [14]:
###Shift + Enter(for run the code)
print("python")

python

In [ ]:
### a (for creating above cell) or +  shymbol which is already on the top

In [ ]:
### dd and x (for deleting above cell) or scissors shymbol which is already on the top

In [ ]:
### yum is the shortcut for markdown

### Datatypes

In [15]:
x=100
x

100

In [16]:
print(x)

100

In [17]:
type(x)

int

In [18]:
x=10.6
type(x)

float

In [19]:
y="murari"
type(y)

str

In [20]:
z=True
type(z)

bool

In [21]:
z=False
type(z)

bool

In [22]:
z=true
type(z)

NameError: name 'true' is not defined

In [23]:
z="True"
type(z)

str

In [24]:
course="id"
course
type(course)

str

In [25]:
course="id"
type(course)
course

'id'

In [26]:
course="id"
print(course)
print(type(course))

id
<class 'str'>

In [27]:
type(course),course

(str, 'id')

### Rules for naming variable

In [28]:
book_names=["python","ai","ds"]
book_names

['python', 'ai', 'ds']

In [29]:
book names=["python","ai","ds"]
book names

SyntaxError: invalid syntax (12361024.py, line 1)

In [30]:
book-names=["python","ai","ds"]
book-names

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1527236370.py, line 1)

In [31]:
3book_names=["python","ai","ds"]
3book_names

SyntaxError: invalid decimal literal (2956720424.py, line 1)

In [32]:
book+names=["python","ai","ds"]
book+names

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (84047732.py, line 1)

In [33]:
booknames=["python","ai","ds"]
booknames

['python', 'ai', 'ds']

#### space is not allowed
#### only allowed spi character is undrescore
#### variable name should not start with a number 
#### variable name should start with A-Z or a-z or underscore
#### predefine keywords also not allowed

### Data structure

### List
####  square brackets 
#### we can retrive the element using index and index start with 0
#### mutble -> we can make the  changes

In [37]:
sample_list=[10,2,3,4.5,1,"hi"]
sample_list

[10, 2, 3, 4.5, 1, 'hi']

In [38]:
type(sample_list)

list

In [39]:
sample_list[3]

4.5

In [40]:
sample_list[10]

IndexError: list index out of range

In [41]:
sample_list[0]=100

In [42]:
sample_list

[100, 2, 3, 4.5, 1, 'hi']

### tuple
#### paranthesis brackets 
#### we can retrive the element using the index and index start from 0
#### inmutable -> we can not make the changes

In [44]:
sample_tuple=(10, 2,3,4.5,"hi")
sample_tuple

(10, 2, 3, 4.5, 'hi')

In [45]:
type(sample_tuple)

tuple

In [46]:
sample_tuple[0]

10

In [47]:
sample_tuple[10]

IndexError: tuple index out of range

In [48]:
sample_tuple[0]=100
sample_tuple

TypeError: 'tuple' object does not support item assignment

### Set
#### {}
#### duplicates are not allowed
#### arranged according to first place
#### cannot access using index 
#### set is mutable

In [49]:
sample_set={1,2,3,4,10,34,23.5,"hi",2,"apple"}
sample_set

{1, 10, 2, 23.5, 3, 34, 4, 'apple', 'hi'}

In [50]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [51]:
sample_set[0]=100

TypeError: 'set' object does not support item assignment

In [52]:
sample_set.add(100)

In [53]:
sample_set

{1, 10, 100, 2, 23.5, 3, 34, 4, 'apple', 'hi'}

In [54]:
sample_set.remove("hi")

In [55]:
sample_set

{1, 10, 100, 2, 23.5, 3, 34, 4, 'apple'}